appdirs==1.4.4
build==1.2.2.post1
buildozer @ git+https://github.com/kivy/buildozer.git@ba3b4f43f98b919d14730c0c3a8b9c3567810a9f
certifi==2025.7.14
charset-normalizer==3.4.2
colorama==0.4.6
Cython==0.29.37
distlib==0.4.0
docutils==0.21.2
filelock==3.18.0
filetype==1.2.0
idna==3.10
iniconfig==2.1.0
Jinja2==3.1.6
Kivy==2.3.1
Kivy-examples==2.3.1
Kivy-Garden==0.1.5
MarkupSafe==3.0.2
packaging==25.0
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.3.8
pluggy==1.6.0
plyer==2.1.0
ptyprocess==0.7.0
Pygments==2.19.2
PyMuPDF==1.26.3
pyproject_hooks==1.2.0
pytest==8.4.1
python-for-android==2024.1.21
requests==2.32.4
setuptools==80.9.0
sh==1.14.3
toml==0.10.2
urllib3==2.5.0
virtualenv==20.31.2
wheel==0.45.1
